.banner_area {
    border-width: 0;
    height: 100px;
    background-color: #FAEBEF;
}

.banner_area > a {
    text-decoration: none;
}

.banner_a_block {
    width: 100%;
    height: 100px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.banner_title {
    overflow: hidden;
    white-space: nowrap;
    width: 189px;
    margin-right: 10px;
    float: left;
}

.banner_title > span {
    font-family: "BM JUA_OTF";
    color: #333333;
}

.banner_icon {
    float: right;
    width: 40px;
    margin-left: 10px;
}

.banner_icon > img {
    height: 40px;
}