.card_image {
    width: 100%;
    height: auto;
    max-height: 50vw;
    object-fit: cover;
    margin-bottom: 5px;
    border-radius: 2px;
}

.card {
    width: calc(100% - 30px);
    background-color: #FFFFFF;
    font-family: 'BM HANNA Air OTF';
    padding: 10px;
    box-shadow: 2px 2px 5px #d7d7d7;
    border-radius: 5px;
    margin: 0 auto 2rem 5px;
}

@media (min-width: 768px) {
    .card {
        max-width: calc(100% / 2 - 40px);
    }

    .card_image {
        max-height: 40vw;
    }
}

@media (min-width: 1024px) {
    .card {
        max-width: calc(100% / 4 - 40px);
    }

    .card_image {
        max-height: 20vw;
    }
}

h3 {
    text-align: left;
}

.tags {
    display: flex;
    flex-flow: wrap;
}

.tag {
    box-shadow: 1px 1px 3px #d7d7d7;
    background: #ffc58d;
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: "BM HANNA Air OTF";
    font-size: 0.7rem;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 5px;
    margin-top: 5px;
}