/* All Device */

.home {
    text-align: center;
}

.content_area {
    background-color: #DAEBEA;
    -webkit-overflow-scrolling: touch;
}

.header_area {
    background-color: #CAC5D8;
    height: 50px;
}

.banner_area {
    height: 70px;
    background-color: #FAEBEF;
}

.home_content_area {
    min-height: calc(100vh - 160px);
}

html {
    scroll-behavior: smooth;
}

td:empty::after{
    content: "\00a0";
}


/* Mobile Device */

.content_area {
    padding: 20px;
}


/* Tablet &amp; Desktop Device */

@media all and (min-width:768px) {

    .content_area {
        padding: 30px;
    }

    .home_content_area {
        min-height: calc(100vh - 180px);
    }
}
