/* All Device */

.banner_area > a {
    text-decoration: none;
}

.banner_a_block {
    height: 70px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.banner_title {
    overflow: hidden;
    white-space: nowrap;
    margin-right: 10px;
}

.banner_title > span {
    font-family: "BM JUA_OTF";
    color: #333333;
}

.banner_icon {
    width: 40px;
    margin-left: 10px;
}

.banner_icon > img {
    height: 40px;
}

/* Mobile Device */

.banner_title > span {
    font-size: 1rem;
}

/* Tablet &amp; Desktop Device */
@media all and (min-width:768px) {
    .banner_title > span {
        font-size: 1.1rem;
    }
}
