/* All Device */

.register_content_area {
    display: flex;
    height: calc(100vh - 80px);
    padding: 15px;
    flex-direction: column;
    align-items: center;
}

.image_text_container {
    display: flex;
}

.register_title_container {
    height: 1.3rem;
    border-radius: 5px 5px 0 0;
    background-color: #FFFFFF;
    display: flex;
}

.register_content_container {
    background-color: #F0ECE1;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
}

.register_title {
    width: 90px;
    margin: 0 auto;
}

.back_home {
    position: absolute;
    float: left;
}

.back_home span {
    visibility: hidden;
    color: black;
}

.register_form_wrapper {
    font-family: "JSDongkang-Regular";
    background: #fff;
    border-radius: 5px;
    display: flex;
}

.register_form_wrapper > form {
    width: 100%;
    height: 100%;
}

#register_platform {
    background: #fff;
    border: 2px solid #d7d7d7;
    appearance: none;
    -webkit-appearance: none;
    text-align-last: center;
}

.register_form_row {
    display: flex;
    flex-direction: column;
}

.register_form_row label {
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
}

.register_url_box {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.register_url_wrapper {
    display: flex;
    align-items: center;
    flex-flow: wrap;
}

#register_url {
    width: 50px;
    background: #fff;
    height: 25px;
    border: 2px solid #d7d7d7;
    font-family: "BBTreeGR";
    line-height: 20px;
    text-align: center;
}

.register_url_wrapper p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.register_url_wrapper > p:empty:before {
    content: "";
}

.register_url_prefix:not(:empty) {
    margin-right: 5px;
}

.register_url_suffix:not(:empty) {
    margin-left: 5px;
}

#register_url.input_alert {
    border-color: #ff3333;
}

.duplicated_url_box {
    min-height: 1.2rem;
    text-align: left;
    color: #ff3333;
}

.register_btn {
    background-color: white;
    width: 100px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-appearance: none;
    height: 40px;
    border: 2px solid #ff8282;
    font-family: "JSDongkang-Regular";
    font-weight: bold;
    font-size: 15px;
    color: #333;
    margin-bottom: 10px;
}

.preview_container {
    display: flex;
    align-items: center;
    border: #d7d7d7 1px solid;
    margin: 20px 10px 20px;
    width: calc(100vw - 100px);
    height: calc(33vw - 33px);
    max-width: 402px;
}

.preview_img {
    height: 100%;
    border-right: 1px solid #d7d7d7;
}

.preview_desc_box {
    width: calc(66vw - 66px);
    height: 100%;
    text-align: left;
}

.preview_title {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.preview_desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.preview_url {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.register_alert {
    text-align: left;
    margin: 10px 10px 10px;
    font-size: 0.8rem;
}

/* Mobile Device */

.title_image {
    margin-top: 3px;
    margin-left: 5px;
    width: 15px;
    height: 15px;
}

.register_title_container {
    padding: 10px;
    width: calc(100% - 20px);
    max-width: 500px;
}

.register_content_container {
    padding: 10px;
    width: calc(100% - 20px);
    max-width: 500px;
}

.register_form_wrapper {
    padding: 10px;
    width: calc(100% - 20px);
    margin-bottom: 10px;
}

#register_platform {
    line-height: 20px;
    width: 100px;
    height: 30px;
}

#register_platform::-ms-expand {
    opacity: 0;
}

.register_form_row {
    margin: 10px 10px 15px;
}

.preview_container {
    max-height: 134px;
}

.preview_img {
    width: calc(33vw - 25px);
}

.preview_img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.preview_desc_box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: calc(100% - 10px);
    padding: 5px;
}

.preview_title {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
}

.preview_desc {
    margin-bottom: 0.3rem;
    font-size: 0.6rem;
    height: 1.5rem;
}

.preview_url {
    font-size: 0.5rem;
}

/* Tablet &amp; Desktop Device */
@media all and (min-width: 768px) {
    .register_title_container {
        margin-top: 15px;
        padding: 15px;
    }

    .register_content_container {
        padding: 15px;
    }

    .register_form_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: calc(100% - 60px);
        padding: 15px;
        margin: 15px;
    }

    .back_home span {
        visibility: visible;
    }

    .register_form_row {
        margin: 10px 10px 20px;
    }

    .register_form_row label {
        margin-right: 15px;
    }

    .preview_container {
        max-width: 400px;
        max-height: 133px;
    }

    .preview_img {
        max-width: 133px;
    }

    .preview_desc_box {
        padding: 15px;
        height: calc(100% - 30px);
    }
}

/* Tablet Device */
@media all and (min-width: 768px) and (max-width: 1024px) {
    .register_title_container {
        max-width: 500px;
    }

    .register_content_container {
        max-width: 500px;
    }

    .register_form_wrapper {
        max-width: 480px;
    }

    .preview_title {
        font-size: 1rem;
        margin-bottom: 0.8rem;
    }

    .preview_desc {
        margin-bottom: 0.8rem;
        font-size: 0.8rem;
        height: 1.9rem;
    }

    .preview_url {
        font-size: 0.7rem;
        height: 0.7rem;
    }
}

/* Desktop Device */
@media all and (min-width: 1025px) {
    .register_title_container {
        max-width: 700px;
    }

    .register_content_container {
        max-width: 700px;
    }

    .register_form_wrapper {
        max-width: 680px;
    }

    .preview_title {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .preview_desc {
        margin-bottom: 0.8rem;
        font-size: 1rem;
        height: 2.3rem;
    }

    .preview_url {
        font-size: 0.8rem;
        height: 1rem;
    }
}
